#product_list {
    text-align: center;
    width: 50%;
    height: 40px;
    border-style: solid;
    color:black;
    text-align:center;
    border: 1px solid #000;
}
#product_list th{
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #000;
}
#product_list td{
    width: 10%;
    height: auto;
    padding: 10px 15px;

    }

.table_row{
    border-bottom: 1px solid black;
}

td{
    border:1px solid black;
}

.centered_name {
    float: right;
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.list_price{
    text-align: left;
    position: absolute;
    bottom: 40;
    right: 60%
    transform: translate(-50%, -50%);
    }

.flex-container {
  display: flex;
 }
.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 50%;
}